* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

div.tmp {
    height: 100px;
    background-color: pink;
    border: 3px solid red;
}

div.hero-container,
div.footer {
    background-color: #1F2937;
}

div.hero-container {
    font-family: Roboto, sans-serif;
    padding: 15px 15%;
}

div.header {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
}

div.hero-content {
    padding: 87px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.left-content {
    width: 40%;
}

img.hero-image {
    width: 50%;
    height: auto;
}

/* "this website is awesome" */
h1.hero-main-text {
    font-size: 48px;
    color: #F9FAFB;
    font-weight: 900;
}

ul.header-links {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a.header-link-text {
    text-decoration: none;
}

p.hero-secondary-text,
a.header-link-text {
    font-size: 18px;
    color: #E5E7EB;
}

div.header-logo-text {
    font-size: 24px;
    color: #F9FAFB;
    font-weight: 450;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 7px 27px;
    border-radius: 8px;
}

button.hero-button {
    border: none;
    margin: 10px 0;
}

div.info-container {
    padding: 0 20%;
}

div.info-header-text {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 40px 0;
}

div.card-container {
    padding-bottom: 87px;
    display: flex;
}

div.card {
    width: 20%;
    margin: 0 auto;
}

img.card-image {
    width: 100%;
    height: auto;
    border-radius: 8.7px;
    border: 3px solid #3882F6;
}

p.card-subtext {
    font-size: 18px;
    text-align: center;
}

div.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
